.doctors-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.make-appointment-div {
    margin-top: 20px;
    width: fit-content;
}

.make-appointent-button {
    width: 150px;
    height: 50px;
    border: 5px #27d1b16e;
    font-size: large;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.3);
    color: black;
}

.make-appointent-button:hover {
    background-color: rgb(195, 238, 238);
}

.calendar {
    margin-top: 20px;
}