@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: #FFFFFF;
    text-not-found-align: center;
} */

.link-to-home-page,
.link-to-no-page {
    font-size: xx-large;
    color: #000;
}

section.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 100vh;
}

section.not-found h1 {
    color: red;
    font-size: 100px;
}

section.not-found h2 {
    font-size: 50px;
}

section.not-found h1,
h2,
h3 {
    margin-bottom: 40px;
}

div.text-not-found {
    height: 50vh;
}

div.text-not-found a {
    text-decoration: none;
    margin-right: 20px;
}

div.text-not-found a:hover {
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    section.not-found {
        flex-direction: column;
        justify-content: space-around;
    }

    section.not-found div.img-not-found img {
        width: 70vw;
        height: auto;
    }

    section.not-found h1 {
        font-size: 50px;
    }

    section.not-found h2 {
        font-size: 25px;
    }

    div.text-not-found a:active {
        color: red;
        text-decoration: underline;
    }
}