.my-account-page {
    display: flex;
    height: 100%;
}

.sidenav {
    display: table-cell;
    height: 200vh;
    width: 150px;
    padding-top: 40px;
    background-color: rgb(255, 255, 255); 
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #6ecaca;
    cursor: pointer;
    font-size: 35px;
    font-size-adjust: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}