.reason-for-appointment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: fit-content;
  /* background-color: aliceblue; */
  background: rgba(255,255,255, 0.3);
  text-align: center;
  border-radius: 5%;
  /* border: 5px solid rgb(51, 255, 0); */
  border: 5px solid #1d6a935c;
  padding: 10px 10px 10px 10px;
  /* opacity: 50%; */
}

.reason-for-appointment-container label {
  font-size: larger;
}