.calendar {
    width: 400px;
    height: 400px;
}

.css-1vcokmn-MuiCalendarOrClockPicker-root {
    box-shadow: 3px 2px 10px 5px;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    justify-content: center !important;
    background-color: rgba(146, 224, 21, 0.87);
}

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
    margin-top: 500px;
}
    