.pet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pet-card {
    padding: 20px;
}
.pet-loading-circle {
    position: absolute;
    top: 50%;
    right: 40%
}
